td.game-cell:hover {
    background-color: rgba(110, 110, 110, 0.5);
    cursor: pointer;
}

td.row2 {
    border-bottom: 2px solid #000;
}

td.row5 {
    border-bottom: 2px solid #000;
}

td.col2 {
    border-right: 2px solid #000;
}

td.col5 {
    border-right: 2px solid #000;
}

.wrongCell{
    animation: check 1s
}

@keyframes check {
    from {
        background-color: rgba(255, 0, 0, 0.5);
        color: rgba(255, 0, 0, 1);
    }
    to {
        background-color: #fff;
        color: #000;
    }
}
