div.game{
    /*border: 1px solid blue;*/
    display: flex;
    flex-direction: column;
    height: 612px;
    margin: 0 0 60px 0;
}

div#game-page{
    /*border: 1px solid red;*/
    flex: 1;
    width: 100%;
    max-height: 610px;
    padding: 0 15%;
    display: flex;
    flex-direction: column;
}
div#game-header{
    /*border:1px solid black;*/
    margin: 10px 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div#game-info{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

div#timer{
    border: 1px solid black;
    display: flex;
    flex-direction: row;
}

div#game-display{
    /*border: 1px solid black;*/
    /*background-color: grey;*/
    flex: 1;
    margin: 5px 0 10px;
    padding: 20px 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

div#game-board{
    /*border: 1px solid red;*/
    margin: 5px auto 10px;
    flex: 1;
    width: 100%;
    max-width: 500px;
    max-height: 500px;
    display: flex;
    flex-direction: column;
}

div#game-table-container{
    height: 100%;
}

table#game-table {
    /*border: 1px solid black;*/
    width:100%;
    flex: 1;
    height: 100%;
    max-height: 500px;
    display: flex;
    flex-direction: column;
 
}

table#game-table tbody{
    /*border: 1px solid blue;*/
    height: 100%;
    display: flex;
    flex-direction: column;
} 


tr.game-row {
    /*border: 1px solid red;*/
    flex: 1;
    display: flex;
    flex-direction: row;
}

td.game-cell{
    border: 1px solid black;
    flex: 1;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

div#game-controller{
    /*border: 1px solid red;*/
    width: 100%;
    height: 45px;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

table#controller-table {
    /*border: 1px solid black;*/
    width:100%;
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: row;
 
}

table#controller-table tbody{
        /*border: 1px solid blue;*/
        flex: 1;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
}

tr#controller-row {
    /*border: 1px solid red;*/
    flex: 1;
    display: flex;
    flex-direction: row;
}

td.controller-cell{
    border: 1px solid black;
    flex: 1;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}