@media screen and (min-width: 750px) {
    #game-page {
        padding: 0 15%;
    }
}

@media screen and (max-width: 750px) {
    #game-page {
        padding: 1rem;
    }
}

div#selec-newgame-dropdown {
    display: block;
    border: 1px solid rgba(110, 110, 110, 0.5);
    position: absolute;
    background-color: #fff;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 2px;
    z-index: 3;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

div.selec-newgame-item {
    list-style-type: none;
    text-align: center;
    padding: 5px;
}

div.selec-newgame {
    border: none;
    width: 100%;
    padding-bottom: 5px;
    background-color: #fff;
}

#restart-game-opt button {
    background-color: white;
    border: 1px solid rgba(110, 110, 110, 0.5);
    padding: 5px;
    width: 35%;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

#restart-game-opt button:hover {
    cursor: pointer;
    background-color: rgba(110, 110, 110, 1);
    color: #fff;
}

div#game-display {
    flex: 1;
    margin: 5px 0 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

div#game-board {
    margin: 5px auto 10px;
    flex: 1;
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 0;
}

div#game-table-container {
    height: 100%;
    padding-top: 100%;
    position: relative;
}

table#game-table {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

table#game-table tbody {
    width: 100%;
    height: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    position: relative;
    z-index: 0;
}

div#game-table-hidden {
    border: 2px solid #000;
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    display: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

div#endgame {
    border: 2px solid #000;
    background-color: #fff;
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    display: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

div#play-btn {
    z-index: 3;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
    height: 10%;
}

div#play-btn img {
    height: 100%;
}

div#play-btn:hover {
    cursor: pointer;
}

div#container-congrats-newgame {
    border-radius: 5px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

div#congrats-newgame {
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 5px;
    background-color: #000;
    text-align: center;
    color: white;
}

p#solve-time {
    font-weight: bold;
    margin: 0.5rem 0 0 0;
}

div#congrats-newgame button {
    background-color: white;
    border: 1px solid #000;
    margin: 0.5rem 1rem;
    padding: 5px 8px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
}

div#congrats-newgame button:hover {
    cursor: pointer;
}

tr.game-row {
    flex: 1;
    display: flex;
    flex-direction: row;
}

td.game-cell {
    border: 1px solid black;
    flex: 1;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

td.row2 {
    border-bottom: 2px solid #000;
}

td.row5 {
    border-bottom: 2px solid #000;
}

td.col2 {
    border-right: 2px solid #000;
}

td.col5 {
    border-right: 2px solid #000;
}

@keyframes check {
    from {
        background-color: rgba(255, 0, 0, 0.5);
        color: rgba(255, 0, 0, 1);
    }
    to {
        background-color: #fff;
        color: #000;
    }
}

td.game-cell:hover {
    background-color: rgba(110, 110, 110, 0.5);
    cursor: pointer;
}

div#game-controller {
    width: 100%;
    height: 45px;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

table#controller-table {
    width: 100%;
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: row;
}

table#controller-table tbody {
    flex: 1;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

tr#controller-row {
    flex: 1;
    display: flex;
    flex-direction: row;
}

td.controller-cell {
    border: 1px solid black;
    flex: 1;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#erase-btn img {
    width: 30px;
}

td.controller-cell:hover {
    background-color: rgba(110, 110, 110, 0.5);
    cursor: pointer;
}

.arrow-icon {
    width: 30px;
}

div#text-page {
    border-top: 1px solid rgba(110, 110, 110, 0.5);
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 750px) {
    #text-page {
        padding: 0 15%;
    }
}

@media screen and (max-width: 750px) {
    #text-page {
        padding: 1rem;
    }
}

div.textContent {
    color: #000;
    padding-top: 5px;
    text-align: center;
}

div.textContent h2 {
    text-decoration: underline;
    margin-bottom: 5px;
}

div.textContent p {
    text-align: justify;
    text-indent: 40px;
}

.text-info {
    display: flex;
}

.text-info div {
    flex: 50%;
    padding: 20px;
}

.text-img {
    margin-top: 20px;
    border: 2px solid black;
}

@media screen and (min-width: 750px) {
    .text-img {
        max-width: 300px;
    }
}

@media screen and (max-width: 750px) {
    .text-img {
        max-width: 200px;
    }
    .text-info {
        display: flex;
        flex-direction: column;
    }
    #text-info2 {
        display: flex;
        flex-direction: column-reverse;
    }
}

div#score-rank {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
}
