table#controller-table tbody {
    flex: 1;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

td.controller-cell:hover {
    background-color: rgba(110, 110, 110, 0.5);
    cursor: pointer;
}
