@media screen and (min-width: 750px) {
    #game-page {
        padding: 0 15%;
    }
}

@media screen and (max-width: 750px) {
    #game-page {
        padding: 1rem;
    }
}

div#text-page {
    border-top: 1px solid rgba(110, 110, 110, 0.5);
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 750px) {
    #text-page {
        padding: 0 15%;
    }
}

@media screen and (max-width: 750px) {
    #text-page {
        padding: 1rem;
    }
}

div.textContent {
    color: #000;
    padding-top: 5px;
    text-align: center;
}

div.textContent h2 {
    text-decoration: underline;
    margin-bottom: 5px;
}

div.textContent p {
    text-align: justify;
    text-indent: 40px;
}

.text-info {
    display: flex;
}

.text-info div {
    flex: 50%;
    padding: 20px;
}

.text-img {
    margin-top: 20px;
    border: 2px solid black;
}

@media screen and (min-width: 750px) {
    .text-img {
        max-width: 300px;
    }
}

@media screen and (max-width: 750px) {
    .text-img {
        max-width: 200px;
    }
    .text-info {
        display: flex;
        flex-direction: column;
    }
    #text-info2 {
        display: flex;
        flex-direction: column-reverse;
    }
}

div#score-rank {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
}
