@media screen and (min-width: 750px) {
    #main-header {
        padding: 0 15%;
    }
}

@media screen and (max-width: 750px) {
    #main-header {
        padding: 0 1rem;
    }
}

header#main-header button:hover {
    cursor: pointer;
}

select#lang-select:hover {
    cursor: pointer;
}

#sudoku-king-logo-img {
    width: 30%;
}
