footer#main-footer{
    padding: 0 15%;
    height: 60px;
    width: 100%;
    border-top: 1px solid rgba(110,110,110,0.5);
    position: absolute;
    bottom: 0;
    background-color: #fff;
    margin-bottom: 0;
}

div#master-footer{
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    margin: 10px 0 0 0;
}

div#master-footer a img{
    height:30px;
    margin: 0 10px;
}