* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
}

html > body {
    min-height: 100%;
}

html {
    display: flex;
    flex-direction: column;
}
