#check-btn:hover {
    cursor: pointer;
}

div#select-newgame {
    color: #000;
}

div#select-newgame button#btn-newgame {
    background-color: white;
    border: 1px solid rgba(110, 110, 110, 0.5);
    padding: 5px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

button#btn-newgame:hover {
    cursor: pointer;
}
